<h1>Welcome {{username.username}} to My Website</h1>
<h2>Thank you for making an account on my website</h2>
<h2>Here is your information:</h2>
<h3>Username: {{username.username}}</h3>
<h3>Email: {{username.email}}</h3>
<h3>Password: {{username.password}} (encrypted) </h3>

<a href = "/logout">Logout</a>
